<!--Header Navigation-->

<!--Below Heaader navigation-->
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
  integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>


<body id="mainbody">
  <div class="container-fluid">
    <div class="row">
      <div class="image">
        <div class="hero-text text-white">
          <h2>Get The Best Free Online Courses</h2>
          <p class="text-center"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus
            mauris scelerisque, at rutrum nulla <br> dictum. Ut ac ligula sapien. Suspendisse cursus faucibus finibus.
          </p>
        </div>
        <div class="row">
          <div class="col-lg-6 offset-lg-3">
            <form class="intro-newslatter">

              <input type="text" class="last-s" placeholder="Search Your Course Here!">
              <button class="site-btn"><b>Search</b></button>
            </form>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-sm-12" style="position: relative;left:30px">
          <h4> Recent Courses
            <hr style="width:180px;">
          </h4>
          <owl-carousel [options]="carouselOptions" [carouselClasses]="['owl-theme', 'row', 'sliding']">

            <mat-card class="owl-matcard ">
              <h4><iframe width="560" height="315" src="https://www.youtube.com/embed/f_n0_cxWqSs" frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe></h4>

              <h5><b>The Advanced Web Developer Course</b></h5>
              <h6>Colt Steele</h6>
              <div style="position: relative;bottom:20px;text-align:right">
                <del>1200</del><h5 style="float:right;position: relative;top:-8px;padding-left:10px;"> <b> ₹ 570 </b></h5>
              </div>

            </mat-card>
            <mat-card class="owl-matcard ">
              <h4><iframe width="560" height="315" src="https://www.youtube.com/embed/f_n0_cxWqSs" frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe></h4>

              <h5><b>The Advanced Web Developer Course</b></h5>
              <h6>Colt Steele</h6>
              <div style="position: relative;bottom:20px;text-align:right">
                <del>1200</del> <h5 style="float:right;position: relative;top:-8px;padding-left:10px;"> <b> ₹ 570 </b></h5>
              </div>
            </mat-card>
            <mat-card class="owl-matcard  ">
              <h4><iframe width="560" height="315" src="https://www.youtube.com/embed/f_n0_cxWqSs" frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe></h4>

              <h5><b>The Advanced Web Developer Course</b></h5>
              <h6>Colt Steele</h6>
              <div style="position: relative;bottom:20px;text-align:right">
                <del>1200</del><h5 style="float:right;position: relative;top:-8px;padding-left:10px;"> <b> ₹ 570 </b></h5>
              </div>
            </mat-card>
            <mat-card class="owl-matcard">
              <h4><iframe width="560" height="315" src="https://www.youtube.com/embed/f_n0_cxWqSs" frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe></h4>

              <h5><b>The Advanced Web Developer Course</b></h5>
              <h6>Colt Steele</h6>
              <div style="position: relative;bottom:20px;text-align:right">
                <del>1200</del><h5 style="float:right;position: relative;top:-8px;padding-left:10px;"> <b> ₹ 570 </b></h5>
              </div>
            </mat-card>

            <mat-card class="owl-matcard">
              <h4><iframe width="560" height="315" src="https://www.youtube.com/embed/f_n0_cxWqSs" frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe></h4>


              <h5><b>The Advanced Web Developer Course</b></h5>
              <h6>Colt Steele</h6>
              <div style="position: relative;bottom:20px;text-align:right">
                <del>1200</del> <h5 style="float:right;position: relative;top:-8px;padding-left:10px;"> <b> ₹ 570 </b></h5>
              </div>
            </mat-card>
            <mat-card class="owl-matcard">
              <h4><iframe width="560" height="315" src="https://www.youtube.com/embed/f_n0_cxWqSs" frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe></h4>


              <h5><b>The Advanced Web Developer Course</b></h5>
              <h6>Colt Steele</h6>
              <div style="position: relative;bottom:20px;text-align:right">
                <del>1200</del><h5 style="float:right;position: relative;top:-8px;padding-left:10px;"> <b> ₹ 570 </b></h5>
              </div>
            </mat-card>
            <mat-card class="owl-matcard ">
              <h4><iframe width="560" height="315" src="https://www.youtube.com/embed/f_n0_cxWqSs" frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe></h4>


              <h5><b>The Advanced Web Developer Course</b></h5>
              <h6>Colt Steele</h6>
              <div style="position: relative;bottom:20px;text-align:right">
                <del>1200</del><h5 style="float:right;position: relative;top:-8px;padding-left:10px;"> <b> ₹ 570 </b></h5>
              </div>
            </mat-card>
            <mat-card class="owl-matcard ">
              <h4><iframe width="560" height="315" src="https://www.youtube.com/embed/f_n0_cxWqSs" frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe></h4>


              <h5><b>The Advanced Web Developer Course</b></h5>
              <h6>Colt Steele</h6>
              <div style="position: relative;bottom:20px;text-align:right">
                <del>1200</del> <h5 style="float:right;position: relative;top:-8px;padding-left:10px;"> <b> ₹ 570 </b></h5>
              </div>
            </mat-card>


          </owl-carousel>
        </div>
      </div>


      <div class="row">

        <div class="col-sm-12" style="position: relative;left:30px">
          <h4> Popular Courses
            <hr style="width:180px;">
          </h4>
          <owl-carousel [options]="carouselOptions" [carouselClasses]="['owl-theme', 'row', 'sliding']">

            <mat-card class="owl-matcard ">
              <h4><iframe width="560" height="315" src="https://www.youtube.com/embed/f_n0_cxWqSs" frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe></h4>

              <h5><b>The Advanced Web Developer Course</b></h5>
              <h6>Colt Steele</h6>
              <div style="position: relative;bottom:20px;text-align:right">
                <del>1200</del> <h5 style="float:right;position: relative;top:-8px;padding-left:10px;"> <b> ₹ 570 </b></h5>
              </div>

            </mat-card>
            <mat-card class="owl-matcard ">
              <h4><iframe width="560" height="315" src="https://www.youtube.com/embed/f_n0_cxWqSs" frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe></h4>

              <h5><b>The Advanced Web Developer Course</b></h5>
              <h6>Colt Steele</h6>
              <div style="position: relative;bottom:20px;text-align:right">
               <del>1200</del>  <h5 style="float:right;position: relative;top:-8px;padding-left:10px;"> <b> ₹ 570 </b></h5>
              </div>
            </mat-card>
            <mat-card class="owl-matcard  ">
              <h4><iframe width="560" height="315" src="https://www.youtube.com/embed/f_n0_cxWqSs" frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe></h4>

              <h5><b>The Advanced Web Developer Course</b></h5>
              <h6>Colt Steele</h6>
              <div style="position: relative;bottom:20px;text-align:right">
                <del>1200</del> <h5 style="float:right;position: relative;top:-8px;padding-left:10px;"> <b> ₹ 570 </b></h5>
              </div>
            </mat-card>
            <mat-card class="owl-matcard">
              <h4><iframe width="560" height="315" src="https://www.youtube.com/embed/f_n0_cxWqSs" frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe></h4>

              <h5><b>The Advanced Web Developer Course</b></h5>
              <h6>Colt Steele</h6>
              <div style="position: relative;bottom:20px;text-align:right">
                <del>1200</del><h5 style="float:right;position: relative;top:-8px;padding-left:10px;"> <b> ₹ 570 </b></h5>
              </div>
            </mat-card>

            <mat-card class="owl-matcard">
              <h4><iframe width="560" height="315" src="https://www.youtube.com/embed/f_n0_cxWqSs" frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe></h4>


              <h5><b>The Advanced Web Developer Course</b></h5>
              <h6>Colt Steele</h6>
              <div style="position: relative;bottom:20px;text-align:right">
                <del>1200</del> <h5 style="float:right;position: relative;top:-8px;padding-left:10px;"> <b> ₹ 570 </b></h5>
              </div>
            </mat-card>
            <mat-card class="owl-matcard">
              <h4><iframe width="560" height="315" src="https://www.youtube.com/embed/f_n0_cxWqSs" frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe></h4>


              <h5><b>The Advanced Web Developer Course</b></h5>
              <h6>Colt Steele</h6>
              <div style="position: relative;bottom:20px;text-align:right">
                <del>1200</del><h5 style="float:right;position: relative;top:-8px;padding-left:10px;"> <b> ₹ 570 </b></h5>
              </div>
            </mat-card>
            <mat-card class="owl-matcard ">
              <h4><iframe width="560" height="315" src="https://www.youtube.com/embed/f_n0_cxWqSs" frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe></h4>


              <h5><b>The Advanced Web Developer Course</b></h5>
              <h6>Colt Steele</h6>
              <div style="position: relative;bottom:20px;text-align:right">
                <del>1200</del> <h5 style="float:right;position: relative;top:-8px;padding-left:10px;"> <b> ₹ 570 </b></h5>
              </div>
            </mat-card>
            <mat-card class="owl-matcard ">
              <h4><iframe width="560" height="315" src="https://www.youtube.com/embed/f_n0_cxWqSs" frameborder="0"
                  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe></h4>


              <h5><b>The Advanced Web Developer Course</b></h5>
              <h6>Colt Steele</h6>
              <div style="position: relative;bottom:20px;text-align:right">
                <del>1200</del><h5 style="float:right;position: relative;top:-8px;padding-left:10px;"> <b> ₹ 570 </b></h5>
              </div>
            </mat-card>


          </owl-carousel>
        </div>
      </div>





      <!--above footer-->
      <div class="row" style="background-color:#8B0000
      ; opacity:0.8; height:600px;color:white;font-family: roboto">
          <div class="col-sm-8 offset-sm-2 text-center">
            <h2>Learn and grow with award-winning support and a thriving community behind you.</h2>
            <h4>You don't have to go it alone. Master the inbound methodology and get the most out of your tools with
              HubSpot's legendary customer support team and a community of thousands of marketing and sales pros just
              like you.</h4>
          </div>


        <div class="col-sm-8 offset-sm-2 text-center" style="font-family: Roboto;position: relative;margin-left:140px;margin-top:50px;">

             <div class="col-sm-2 offset-sm-2"><i  class="fa" style="font-size:30px;color:white">&#xf2b5;</i>
              <h2><b>150K+</b></h2>
            <h6>DigiSaksham user group</h6></div>
             <div class="col-sm-2 offset-sm-2">
                <i class="fa fa-globe" style="font-size:30px;color:white">
                  </i><h2><b>6</b></h2>
                <h6>Languages</h6>
             </div>

             <div class="col-sm-2 offset-sm-2"><h4>INBOUND</h4>
            <h2><b>21K+</b></h2>
            <h6>registered attendence</h6>
          </div>
          <div class="col-sm-2 offset-sm-2">
              <h6>Digi <i class="fa fa-graduation-cap" style="font-size:30px;color:white"></i></h6>
              <h5>Saksham</h5>
            <h2><b>180K+</b></h2>
          <h6>Certified Professional</h6></div>

          <div class="col-sm-2 offset-sm-2" style="position:relative;bottom:120px;"><i class='far fa-comments' style='font-size:30px;color:white'></i>
            <h2><b>260K+</b></h2>
          <h6>Social Follower</h6></div>


             <div class="col-sm-2 offset-sm-2" style="position:relative;bottom:140px;">
                <h4>DigiSaksham </h4>
                <h5>Connect</h5>
                <h2>200+</h2>
                <h6>integration</h6>
             </div><hr class="border-hr">
             <div class="vl1 "></div>
             <div class="vl2 "></div>
            </div>

          </div>



    <!--Footer Section-->

    <div class="col-sm-12">

      <footer class="footer-section spad pb-0">

        <div class="footer-top">
          <div class="footer-warp">

            <div class="row">
              <div class="col-sm-3 offset-sm-1 text-center">
                <h4>Contact Info</h4>
                <ul id="col-ul">
                  <li id="col-li">1481 Creekside Lane <br>Avila Beach, CA 931</li><br>
                  <li id="col-li">+53 345 7953 32453</li>
                  <li id="col-li">yourmail@gmail.com</li>
                </ul>
              </div>
              <div class="col-sm-3 offset-sm-1 ">
                <h4>Location</h4>
                <div>
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3503.664822098233!2d77.31747541461161!3d28.57982599321624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce5166592fb65%3A0x3a2c721a2b658163!2sSEMS+Webz+Solutions!5e0!3m2!1sen!2sin!4v1558427859080!5m2!1sen!2sin"
                    width="300" height="10%" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
              </div>
              <div class="col-sm-3 offset-sm-1">

                <ul>
                  <li style="padding-top:10px" *ngFor="let item of footerlist"><a href="">{{item}}</a></li>
                </ul>
              </div>

            </div>
          </div>
        </div>
