<form #f="ngForm">
    <label>Password</label>
   <input type="password" class="form-control" name="password" ngModel #password="ngModel" required>
   <div class='text-danger' *ngIf='password.invalid && (password.dirty || password.touched)'>
       password is required
   </div>
   <label>Confirm Pasword</label>
   <input type="password" class="form-control" name="passwordconfirm" ngModel #passwordconfirm="ngModel" compare="password" required>
   <div class="text-danger"  *ngIf="passwordconfirm.invalid && (passwordconfirm.dirty || passwordconfirm.touched)" >
       <div class="passwordconfirm.errors['required']">Password confirm is required</div>
       <div class="passwordconfirm.errors['compare']">Password confirm do not match</div>
   </div>

   <button type="button" class="btn btn-primary" >submit</button>
   </form>

   <br>
   <div class="card">
       <div class="card-body">
           <h5>Form Status:{{f.status}}</h5>
           <h6>From Value</h6>
           <pre>{{f.value | json}}</pre>
       </div>
   </div>
