<body>
<div class="row">
  <div class="col-sm-10 offset-sm-1" >
    <img src="assets/image/onlineteaching.gif" height="100%" width="100%" style="margin-top:50px;">
  </div>
  <div class="col-sm-10 offset-sm-1" *ngFor="let item of user">
<mat-card>
  Hello Mr/Miss  <b> {{item.fullname}}</b>
  Welcome to our Online courses uploading platform.Here we are providing you a platform where you can full fill your passion.And provide a good skills to student for learning courses.
</mat-card>
  </div>
</div>

</body>
