
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/node_modules/owl.carousel/dist/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/node_modules/owl.carousel/dist/assets/owl.theme.default.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
  <div class="row">
  <div class="container-fluid">
  <div class="studentdash-image">
    <div class="row">
      <div class="col-sm-12">
          <div class="col-sm-8">
            <h2 class="text-center">Advanced Digital Marketing Trainning</h2>
         <h4 class="text-center">Learn how to use  Digital Marketing from scratch</h4>
       <hr class="hr1" >
        <h5 class="text-center">
            Duration: 4 Weeks | Certified Training| Enrolled Students: 7,547
        </h5>
       </div>
          <div class="col-sm-4">
              <mat-card >
                  <form>
                    Email:
                    <input type="text" class="form-control">
                    Password:
                    <input type="password" class="form-control">

                     <div class="row">
                       <div class="col-sm-6">
                          FirstName:
                          <input type="text" class="form-control">
                       </div>
                       <div class="col-sm-6">
                          LastName:
                       <input type="text" class="form-control">
                       </div>
                     </div>



                      Mobile No:
                      <input type="text" class="form-control">
                      <button class="btn btn-primary"  style="margin-top:10px;width:100%">SIGN UP</button>
                  </form>
                </mat-card>

          </div>

      </div>

    </div></div>

</div>


</div>


        <body>




            <div class="container-fluid" >


                <div class="text-center" id="potential" style="font-size:30px;padding-top:40px;">About Digital Marketing</div>
                 <div class="row">

                <div class="text-center col-sm-8 offset-sm-2" style="padding-top:20px;color:gray">

                      <p>

                          The Advanced Excel Training by Internshala is a 4-week online training program covering the basic and advanced modules of Microsoft Excel. In this training program, you will learn how to use Microsoft Excel and the advanced concepts of Excel. During the course of this training, students will work on   a project unit relating to 'Food2Go', a food technology startup. </p>
                          <div [hidden]="isCollapsed" (click)="isCollapsed=true" style="color:blue;font-size:20px;">Read more <i style="font-size:24px" class="fa">&#xf101;</i>
                          </div>
                         <div [hidden]="!isCollapsed">The project unit is divided into four assignments. Each assignment focuses on solving a different startup challenge using the concepts covered in the respective module. Food2Go faces a variety of challenges that include product-centric, customer-centric and strategic growth-oriented. Students will be presented with interesting real-life scenarios and have to use the Excel tools, functions and data visualization techniques learned to solve problems, make inferences and present data in a meaningful and effective manner using Excel. For doubt clearing, you can post your queries on the forum and get answers within 24 hours.
                          </div>
                    </div>
                    </div>



                <div class="row jumbotron">
                  <div class="col-sm-8 offset-sm-2 " style="z-index: 1">
          <owl-carousel [options]="carouselOptions"   [carouselClasses]="['owl-theme', 'row', 'sliding']" >

              <mat-card class="owl-matcard ">
                  <h4>ONLINE ADVERTISING - SEARCH, DISPLAY AND VIDEO</h4>

                  <h5 >You will learn about paid marketing and online advertising.</h5>
              </mat-card>
              <mat-card class="owl-matcard">
                  <h4>INBOUND AND CONTENT MARKETING</h4>

                  <h5>In this module you will learn the basics of inbound and content marketing.</h5>
              </mat-card>
              <mat-card class="owl-matcard  ">
                  <h4>ONLINE ADVERTISING - SEARCH, DISPLAY AND VIDEO</h4>

                  <h5>You will learn about paid marketing and online advertising.</h5>
              </mat-card>
              <mat-card class="owl-matcard">
                  <h4>ONLINE ADVERTISING - SEARCH, DISPLAY AND VIDEO</h4>

                  <h5>You will learn about paid marketing and online advertising.</h5>
              </mat-card>

              <mat-card class="owl-matcard">
                  <h4>ONLINE ADVERTISING - SEARCH, DISPLAY AND VIDEO</h4>

                  <h5>You will learn about paid marketing and online advertising.</h5>
              </mat-card>


            </owl-carousel>
          </div>
        </div>



                  <h1 class="text-center" style='font-size:30px;'>What do you get</h1>
                           <div class="row">

                     <div class=" rectangle col-sm-4 offset-sm-2">

                       <h3>  <i style='font-size:30px' class='far'>&#xf599;</i>  Placement Training</h3>
                       <h5 class="h5">
                          Get complimentary access to placement training to ace your internship/job hunt.
                       </h5>
                     </div>
                     <div class=" rectangle col-sm-4 offset-sm-2">

                        <h3>   <i style='font-size:30px' class='far'>&#xf59a;</i>  Certified Training</h3>
                       <h5 class="h5">
                          Create a blog and design a complete digital marketing strategy for it
                       </h5>
                     </div>
                     <div class=" rectangle col-sm-4 offset-sm-2">

                        <h3> <i style='font-size:30px' class='fas'>&#xf59c;</i>  Industrial Project</h3>
                       <h5 class="h5">
                          Your training is packed with assignments, assessment tests, code challenges, quizzes and exercises
                       </h5>
                     </div>
                     <div class= " rectangle col-sm-4 offset-sm-2">

                        <h3>  <i style='font-size:30px' class='far'>&#xf59b;</i>  Hands On Exercises</h3>
                       <h5 class="h5">
                          At the end of your training program you will be awarded with certificate of completion.
                       </h5>
                     </div>
                           </div>







          </div>
        </body>




