
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body class="matcardsign">

<div class="jumbotron" style="background: white">

    <div class="container"><i class="material-icons" (click)="onNoClick()">
        clear
        </i>
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h4>Create an account here...</h4>
                <hr>

                <form [formGroup]="signupform" (ngSubmit)="save()">
                    <div class="form-group">
                        <a href="#" class="fb btn2">
                                <i class="fa fa-facebook fa-fw"></i> Continue with Facebook
                               </a>
                              <a href="#" class="google btn2"  ><img src="https://img.icons8.com/color/48/000000/google-logo.png" height="20px" width="20px">Continue with Google
                                </a>
                                </div>

                     <div class="form-group">
                        <input type="text" class="form-control" formControlName="fullname" placeholder="Full Name"   required />
                      <span *ngIf="!signupform.get('fullname').valid&& signupform.get('fullname').touched" class="help-block">Please enter valid name

                      </span>
                     </div>



                    <div class="form-group" >

                        <input type="text" class="form-control" formControlName="phonno"  placeholder="Phone Number"   required />

                        <span *ngIf="!signupform.get('phonno').valid&& signupform.get('phonno').touched" class="text-danger">Please enter valid  phone no.

                        </span>
                      </div>

                    <div class="form-group">

                        <input type="text" class="form-control" formControlName="email"  placeholder="Email"   pattern="[^ @]*@[^ @]*"  required email/>
                        <span *ngIf="!signupform.get('phonno').valid&& signupform.get('phonno').touched" class="text-danger">Please enter valid  email id.

                          </span>
                          <span *ngIf="!signupform.get('phonno').pattern&& signupform.get('phonno').errors" class="text-danger">Please  follow the pattern "[^ @]*@[^ @]*" .

                            </span>
                      </div>


                      <div class="from-group">

                          <input type="password" class="form-control" name="password" formControlName="password" placeholder="Password"  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,10}$" maxlength="8" required>

                          <span class="text-danger"  *ngIf="!signupform.get('password').valid&& signupform.get('password').touched">Password is required
                          </span>
                          <span *ngIf="!signupform.get('password').pattern&& signupform.get('password').errors&& signupform.get('password').maxlength" class="text-danger">

                              maxlength should be 8 and required  alpha-numeric pattern with special symbol
                             </span>

                      </div>
                      <div class="form-group">

                          <input type="password" class="form-control" name="passwordconfirm" placeholder="Confirm Password" formControlName="passwordconfirm"   compare="password"required>
                          <div class="text-danger"  *ngIf="!signupform.get('passwordconfirm').valid&& signupform.get('passwordconfirm').touched"  >
                                  <div class="signupform.get(passwordconfirm).invalid">Password confirm is required</div>
                                  <div class="!signupform.get(passwordconfirm).compare">Password confirm do not match</div>
                              </div>


                      </div>





                <input type="submit"   routerLink="./content"     (click)=" onNoClick()" value="SignUp">
                </form>
            </div>
        </div>
</div>

</div>

</body>
